.dialog-content {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  padding: 20px;
  .full-width {
    width: 100%;
  }
  .status-group {
    width: 100% !important;
    text-align: center !important;
  }
}

.action-buttons {
  width: 100%;
  justify-content: end;
}
