<div class="page">
  <div style="width: 100%">
    <h2 class="page-title">Welcome to Task Management App</h2>
  </div>

  <p class="readme-text">
    This is the Task Management Application, where you can list all the tasks
    (<strong>Completed</strong> and <strong>Uncompleted</strong>), you can
    filter them and also you can create and modify task. Click the button below
    to go to the Task list page!
  </p>

  <div class="button-container">
    <button
      mat-raised-button
      class="primary-button"
      (click)="navigateToTaskList()"
    >
      Task page
    </button>
  </div>
</div>
